body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background: url("../img/fond_index.jpg");
}
.background {
}
