body {
  margin: 0;
  background-image: url("../img/background/fond_index_1700.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.d_flex {
  margin-top: 450px;
  display: flex;
  justify-content: center;
}
/****** Card For Games *****/
.card_yo {
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
}
.div_card{
  display: flex;
  color: white;
}
.txt_card{
  opacity: 0.9;
  background-color: #ff3358;
  border-radius: 10px;
  box-shadow: 0px -10px 30px black;
}
.desc_game{
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}
.img_card{
  margin-right: 10px;
}
.titre_game{
  text-align: center;
  margin-top: 10px;
}
.dev_pub_game{
  text-align: center;
  opacity: 0.8;
}
.date_game{
  text-align: right;
  margin-right: 25px;
  opacity: 0.8;
  font-style: italic;
}
/***** btn ********/
.larg {
  text-align: center;
  width: 250px;
  height: 39px;
  border-radius: 10px;
  border: none;
}
.btn_yo {
  background-color: white;
  margin-bottom: 4px;
}
.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
