@font-face{
  font-family: "Neon";
  src: url('../font/neon_pixel-7.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/background/gif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.d_flex {
  margin-top: 180px;
  display: flex;
  justify-content: center;
}
/****** Card For Games *****/
.card_yo {
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
}
.div_card{
  display: flex;
  color: white;
}
.txt_card{
  opacity: 0.9;
  background-color: #ff3358;
  border-radius: 10px;
  box-shadow: 0px -10px 30px black;
}
.desc_game{
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}
.img_card{
  margin-right: 10px;
}
.titre_game{
  text-align: center;
  margin-top: 10px;
}
.dev_pub_game{
  text-align: center;
  opacity: 0.8;
}
.date_game{
  text-align: right;
  margin-right: 25px;
  opacity: 0.8;
  font-style: italic;
}
/***** btn ********/
.larg {
  text-align: center;
  width: 227px;
  height: 39px;
  border: none;
}
.btn_yo {
  background-color: white;
  margin-bottom: 4px;
}
.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.neon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  font-family: 'Neon';
  font-size: 120px;
  color: rgb(255, 255, 255);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 
      0 0 40px #67506e, 0 0 50px #67506e, 0 0 60px #67506e, 0 0 70px #67506e;
  }
  to {
    text-shadow: 0 0 40px #715d77,
      0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff, 0 0 100px #ffffff;
  }
}
@media (max-width:575px){
  .neon{
    text-align: center;
  }
}
@media (max-width:1200px){
  .div_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img_card{
    margin-bottom: 25px;
  }
}

.card_search{
  width: 200px;
  height: 60px;
  margin: 5px;
  display: flex;
  background-color: white;
}
.img_wid{
  width: 40px;
  margin: 2px;
}
.title_card{
  font-size: 1rem;
  margin-left: 5px;
  text-align: left;
}
.dev{
  font-style: italic;
  font-size: 0.6rem;
  text-align: left;
  margin-left: 5px;

}
.games{
  margin-top: 2px;
}
